<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC    
   "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="webflix.mapper.VideoMapper">
<select id="videoAutoNum" resultType="string">
select concat('video' , coalesce(max(substr(video_num,6)::Integer),100000) + 1) from video

</select>

<insert id="videoInsert" parameterType="video">
insert into video(video_num,video_name,video_theme,video_image,video_file,video_file_origin,video_image_origin)
values(#{videoNum}, #{videoName}, #{videoTheme}, #{videoImage}, #{videoFile}, #{videoFileOrigin}, #{videoImageOrigin} )


</insert>



</mapper>