<!DOCTYPE html>
<html lang="ko">
<head>
<title>샘플</title>
<style>
h2.w3-wide {
  text-decoration: line-through; /* 반가르게 표시하는 속성 */
  text-decoration-color: red; /* 효과의 색상 설정 (원하는 색상으로 변경) */
  text-decoration-thickness: 2px; /* 효과의 두께 설정 */
  text-decoration-style: solid; /* 효과의 스타일 설정 (solid, dotted, dashed 등) */
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
</head>

<body class="wrap">
<form action="webPurchase" method="post">
	<!-- 본문 -->
	<main class="col-8 cont" id="bill-01">
		<div class="w3-container">
			<h2 align="center">Subscription</h2>
		</div>

		<div class="w3-row-padding">

			<div class="w3-third w3-margin-bottom">
				<ul class="w3-ul w3-border w3-center w3-hover-shadow">
					<li class="w3-black w3-xlarge w3-padding-32">Regular</li>
					<li class="w3-padding-16"><b>30</b> 일</li>
					<li class="w3-padding-16">
						 <span class="w3-opacity"></span>
						<h2><br />10,000원<br /><br /> </h2>

					</li>
					<li class="w3-light-grey w3-padding-24"><input type="radio"
						name="price" class="w3-button w3-green w3-padding-large" value="10000" checked="checked"/>
					</li>
				</ul>
			</div>

			<div class="w3-third w3-margin-bottom">

				<ul class="w3-ul w3-border w3-center w3-hover-shadow">
					<li class="w3-green w3-xlarge w3-padding-32">Discount</li>
					<li class="w3-padding-16"><b>180</b> 일</li>
					<li class="w3-padding-16">
						<h2 class="w3-wide">60,000원</h2> <span class="w3-opacity">-10%</span>
						<h2>→ 54,000원</h2>
					</li>
					<li class="w3-light-grey w3-padding-24"><input type="radio"
						name="price" class="w3-button w3-green w3-padding-large"
						value="54000" /></li>
				</ul>
			</div>

			<div class="w3-third w3-margin-bottom">
				<ul class="w3-ul w3-border w3-center w3-hover-shadow">
					<li class="w3-black w3-xlarge w3-padding-32">Special Discount</li>
					<li class="w3-padding-16"><b>360</b> 일</li>
					<li class="w3-padding-16">
						<h2 class="w3-wide">120,000원</h2> <span class="w3-opacity">-15%</span>
						<h2>→ 102,000원</h2>
					</li>
					<li class="w3-light-grey w3-padding-24"><input type="radio"
						name="price" class="w3-button w3-green w3-padding-large"
						value="102000" /></li>
				</ul>
				
			</div>
		
				<button type="submit" onclick="paybtn()"
					class="w3-button w3-green w3-padding-large"
					style="margin-top: 50px">Choose</button>
			<br />
			<a href="/">메인으로</a>
		</div>
</form>
		</section>

	</main>

</body>
</html>